@if(booking) {
<div class="container min-vh-100 d-flex justify-content-center mt-5">
  <div class="col-12 col-sm-8 col-md-6 col-lg-4">
    <div class="card shadow-sm">

      <div class="card-title mb-0">
        <h3 class="text-center h3 mt-3">Update booking</h3>
      </div>

      <div class="card-body pt-0">
        <form (ngSubmit)="updateBooking()">

          <div class="mb-3">
            <ng-container>
              <div>
                <img [src]="booking.room.imageUrl" alt="Room Preview" class="img-fluid w-100" />
              </div>
            </ng-container>
          </div>

          <div class="mb-3">
            <h5 class="h5 blue-color my-3">Booking Details</h5>
            <p><strong>Booking Code:</strong> {{ booking.bookingReference }}</p>
            <p><strong>Check-in:</strong> {{ '05-10-2025' }}</p>
            <p><strong>Check-out:</strong> {{ '06-10-2025' }}</p>
            <p><strong>Amount:</strong> {{ booking.totalPrice | currency }}</p>
            <div class="mb-2">
              <select 
                class="form-select" 
                id="paymentStatus" 
                name="paymentStatus"
                [(ngModel)]="booking.paymentStatus">
                  <option selected value="'booking.paymentStatus'">Payment Status</option>
                  @for (status of paymentStatusOptions; track status) {
                  <option [value]="status">
                    {{ status }}
                  </option>
                  }
              </select>
            </div>
            
            <div>
              <select 
                class="form-select" 
                id="bookingStatus" 
                name="bookingStatus"
                [(ngModel)]="booking.bookingStatus">
                  <option selected value="booking.bookingStatus">Booking Status</option>
                  @for (status of bookingStatusOptions; track status) {
                  <option [value]="status">
                    {{ status }}
                  </option>
                }
              </select>
            </div>
          </div>

          <hr>

          <div class="form-floating mb-3">
              <h5 class="h5 red-color my-3">Booker Details</h5>
              <p><strong>First Name:</strong> {{ booking.user.firstName }}</p>
              <p><strong>Last Name:</strong> {{ booking.user.lastName }}</p>
              <p><strong>Email:</strong> {{ booking.user.email }}</p>
              <p><strong>Phone Number:</strong> {{ booking.user.phoneNumber }}</p>
          </div>

          <hr>

          <div class="form-floating mb-3">
              <h5 class="h5 orange-color my-3">Room Details</h5>
              <p><strong>Room Number:</strong> {{ booking.room.roomNumber }}</p>
              <p><strong>Room Type:</strong> {{ booking.room.roomType }}</p>
              <p><strong>Room Capacity:</strong> {{ booking.room.capacity }}</p>
          </div>
          

          <div class="d-grid gap-2 mt-3">
            <button class="btn btn-success" type="submit">Update</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
}

